:root {
	/*Colors*/
	--charcoal: #353a47;
	--brick-red: #d44d5c;
	--baby-powder: #f0f4ef;
	--onyx: #32373b;
	--spacecadet: #17255a;
	--cadet: #4f6d7a;
	--blackcoal: #3d5467;
	/*Fonts*/
	--Abel: "Abel", sans-serif;
	--Josephine: "Josefin Sans", sans-serif;
	--Lora: "Lora", serif;
	--Playfair: "Playfair Display", serif;
	--Varela: "Varela", sans-serif;
}
body {
	height: 100%;
	width: 100%;
}
.about-us-page {
	margin-top: 50px;

	background: linear-gradient(25deg, #000503ad 0%, #00000077 100%),
		url(../assets/backgrounds//boats-beach.jpg) no-repeat;
	background-size: cover;
}
.about {
	margin: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.about-title {
	font-family: var(--Playfair);
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 30px;
	color: var(--baby-powder);
}

.info-title {
	font-family: var(--Playfair);
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	font-size: 25px;
	color: var(--baby-powder);
}

.about-text {
	display: flex;
	max-width: 700px;
	color: white;
	padding: 10px;
}

.about-text p {
	font-size: 22px;

	font-family: var(--Abel);
}

.about-text i {
	font-size: 50px;
}

.quote {
	font-family: var(--Lora);
	font-size: 18px;
	font-style: italic;
}
.about-us-info-2 {
	margin: 20px;
	padding: 10px;
	border-radius: 5px;
	background-color: #ffffff2a;
	max-width: 700px;
	height: 250px;
	display: flex;
}

.about-images {
	max-width: 300px;
	display: flex;
}
.about-images .img {
	margin: 20px 10px;
	height: 200px;
	width: 200px;
	border-radius: 5px;
}

@media (max-width: 700px) {
	.about-images .img {
		display: none;
	}
}
