body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-size: cover;
}
:root{

    /*Colors*/
    --charcoal:#353A47;
    --brick-red:#D44D5C;
    --baby-powder:#F0F4EF;
    --onyx:#32373B;
    --spacecadet:#17255A;
    --cadet:#4F6D7A;
    --blackcoal:#3D5467;
    /*Fonts*/
    --Abel: 'Abel', sans-serif;
    --Josephine: 'Josefin Sans', sans-serif;
    --Lora:'Lora', serif;
    --Playfair: 'Playfair Display', serif;
    --Varela:'Varela', sans-serif;
}


.review-page{
    overflow-wrap: break-word;
    margin-top: 100px;
    width: 100%;
    height: 110vh;
    margin-bottom: 100px;
}

.add-review{

    font-size: 20px;
    padding: 4px 6px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3D5467;
    color: #F0F4EF;
}

.add-review:hover{
    background-color: var(--spacecadet);
    color: var(--baby-powder);

}
.button{
    
    padding-top: 40px;
    display: flex;
    justify-content: center;
    
}

.review-page-title{
    display: flex;
    justify-content: center;
     font-size: 30px;
     color: var(--spacecadet);
     font-family: var(--Playfair);
}

.rating-title{
    font-family: var(--Abel);
    text-align: center;
    padding: 10px;
}
.review-form{
    
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 300;
}

.username{
    margin-top: 5px;
    width: 250px;
    padding-top: 5px;
    font-family: var(--Abel);
    font-size: 18px;
}

.start-rating{
    padding: 10px;
    cursor: pointer;
}

.added-reviews{
    margin: 10px;
   
    border-radius: 5px;

    display: block;
    

}

#rating i{
    color: rgb(255, 123, 0);
}

#username{
    text-transform: capitalize;
}

#rating,#username{
    font-family: var(--Lora);
    color: #17255A;
    
}

.new{
    
    width:80%;
    margin: 20px auto;
    background-color: #ffffff7a;
    padding: 20px;
    border-radius: 5px;
}
.text-area{
    resize: none;
    width: 500px;
    font-family: var(--Abel);
    font-size: 20px;
    padding: 2px;
}
#review-text{
    
    padding: 10px;
    font-family: var(--Lora);
    font-size: 15px;
    
}

hr{
    border: 0.2px solid rgba(255, 255, 255, 0.527);
    
}

.close{
    margin-top: 580px;
    position: absolute;
    color: var(--brick-red);
    font-size: 40px;
    cursor: pointer;
    z-index: 20;
    
}

.close:hover{
    color: #a30000;
}
@media(max-width:900px){
    .new{
        width: 90%;

    }
    .text-area{
        width: 80%;
    }
}